<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<filter>
		<filter-name>CorsFilter</filter-name>
		<filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
		<init-param>
			<param-name>cors.allowed.origins</param-name>
			<param-value>*</param-value>
		</init-param>
		<init-param>
			<param-name>cors.allowed.methods</param-name>
			<param-value>GET,POST,HEAD,OPTIONS,PUT</param-value>
		</init-param>
		<init-param>
			<param-name>cors.allowed.headers</param-name>
			<param-value>Content-Type,X-Requested-With,accept,Origin,Access-Control-Request-Method,Access-Control-Request-Headers,Authorization</param-value>
		</init-param>
		<init-param>
			<param-name>cors.exposed.headers</param-name>
			<param-value>Access-Control-Allow-Origin,Access-Control-Allow-Credentials</param-value>
		</init-param>
		<init-param>
			<param-name>cors.preflight.maxage</param-name>
			<param-value>10</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CorsFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>Tracking</servlet-name>
		<display-name>Tracking</display-name>
		<description></description>
		<servlet-class>tracking.Tracking</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>History</servlet-name>
		<display-name>History</display-name>
		<description></description>
		<servlet-class>history.History</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PlacingOrder</servlet-name>
		<display-name>PlacingOrder</display-name>
		<description></description>
		<servlet-class>placingOrder.PlacingOrder</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Register</servlet-name>
		<display-name>Register</display-name>
		<description></description>
		<servlet-class>register.Register</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ResetSimulator</servlet-name>
		<display-name>ResetSimulator</display-name>
		<description></description>
		<servlet-class>resetSimulater.ResetSimulator</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Location</servlet-name>
		<display-name>Location</display-name>
		<description></description>
		<servlet-class>tracking.Location</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Login</servlet-name>
		<display-name>Login</display-name>
		<description></description>
		<servlet-class>rpcHelper.Login</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Logout</servlet-name>
		<display-name>Logout</display-name>
		<description></description>
		<servlet-class>rpcHelper.Logout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Tracking</servlet-name>
		<url-pattern>/tracking</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>History</servlet-name>
		<url-pattern>/history</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PlacingOrder</servlet-name>
		<url-pattern>/placingorder</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ResetSimulator</servlet-name>
		<url-pattern>/reset_simulator</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Location</servlet-name>
		<url-pattern>/location</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
</web-app>